We begin our ETL process by loading in any packages or libraries we might need throughout the process of importing, cleaning, and manipulating the data, as well as libraries and packages needed to build our visualizations.

In [1]:
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objects as go

Once we have our libraries, we can get the ETL started. First, we need to call our API to get our data from the Census website. Since everyone gets their own unique key, we will save our key as a variable that is inserted into the API url once the url is called.

Since some of our visualizations will use data from individual states, while other visualizations use the country as a whole, we need to make sure we can call the API for both datasets, so we need to make sure we have the proper url for each one. The 'get' keyword followed by an equals sign will tell the API which columns of the dataset we want to call.

In [8]:
key = '8a3df61e848ed09da46d7c9e86eb70fb4c3ec168'

url_state = r'https://api.census.gov/data/2018/abscs?get=GEO_ID,NAME,STATE,NAICS2017,NAICS2017_LABEL,YIBSZFI,YIBSZFI_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,EMPSZFI,EMPSZFI_LABEL,YEAR,EMP,EMP_F,PAYANN,PAYANN_F&for=state:*&key=%s' % (key)

url_us = r'https://api.census.gov/data/2018/abscs?get=GEO_ID,NAME,STATE,NAICS2017,NAICS2017_LABEL,YIBSZFI,YIBSZFI_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,EMPSZFI,EMPSZFI_LABEL,YEAR,EMP,EMP_F,PAYANN,PAYANN_F&for=us:*&key=%s' % (key)

Once we have our urls created, we can use the 'get' function to call our data, once for the state data and once for the national data.

In [10]:
response_1 = requests.get(url_us)

response_2 = requests.get(url_state)

,GEO_ID,NAME,STATE,NAICS2017,NAICS2017_LABEL,YIBSZFI,YIBSZFI_LABEL,SEX,SEX_LABEL,ETH_GROUP,...,VET_GROUP,VET_GROUP_LABEL,EMPSZFI,EMPSZFI_LABEL,YEAR,EMP,EMP_F,PAYANN,PAYANN_F,state
1,0400000US28,Mississippi,28,00,Total for all sectors,001,All firms,001,Total,029,...,003,Equally veteran/nonveteran,612,Firms with 1 to 4 employees,2018,0,g,0,S,28
2,0400000US28,Mississippi,28,00,Total for all sectors,001,All firms,001,Total,029,...,003,Equally veteran/nonveteran,620,Firms with 5 to 9 employees,2018,1742,None,43830,None,28
3,0400000US28,Mississippi,28,00,Total for all sectors,001,All firms,001,Total,029,...,003,Equally veteran/nonveteran,630,Firms with 10 to 19 employees,2018,0,g,0,D,28
4,0400000US28,Mississippi,28,00,Total for all sectors,001,All firms,001,Total,029,...,003,Equally veteran/nonveteran,641,Firms with 20 to 49 employees,2018,0,c,0,D,28
5,0400000US28,Mississippi,28,00,Total for all sectors,001,All firms,001,Total,029,...,003,Equally veteran/nonveteran,642,Firms with 50 to 99 employees,2018,0,h,0,D,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372087,0400000US27,Minnesota,27,55,Management of companies and enterprises,001,All firms,002,Female,001,...,001,Total,001,All firms,2018,820,None,55388,None,27
372088,0400000US27,Minnesota,27,55,Management of companies and enterprises,001,All firms,002,Female,001,...,001,Total,611,Firms with no employees,2018,0,a,0,D,27
372089,0400000US27,Minnesota,27,55,Management of companies and enterprises,001,All firms,002,Female,001,...,001,Total,642,Firms with 50 to 99 employees,2018,0,b,0,D,27
372090,0400000US27,Minnesota,27,55,Management of companies and enterprises,001,All firms,002,Female,001,...,001,Total,651,Firms with 100 to 249 employees,2018,0,c,0,D,27
372091,0400000US27,Minnesota,27,55,Management of companies and enterprises,001,All firms,002,Female,001,...,001,Total,657,Firms with 500 employees or more,2018,0,f,0,D,27

The variables 'response_1' and 'response_2' have a multitude of methods saved within them. Our data is stored within the 'text' object as a json file. So, we can call the text method and save that as a new variable.

In [ ]:
data_us = response_1.text

data_state = response_2.text

From here, pandas can read the json directly into a pandas DataFrame.

In [ ]:
df1 = pd.read_json(data_us)

df1_state = pd.read_json(data_state)

If we look at this json file, the column headers are indexes and the first row of each column is the actual column header values. So, we need to move the first row to be the header.

In [ ]:
df1 = df1.rename(columns=df1.iloc[0]).drop(df1.index[0])

df1_state = df1_state.rename(columns=df1_state.iloc[0]).drop(df1_state.index[0])

All of the data is stored as a string. But, we need some of our columns as number values. Specifically, we need to get our number of employees and our payroll as number values.

In [ ]:
df1 = df1.astype({'PAYANN': float, 'EMP': float})

df1_state = df1_state.astype({'PAYANN': float, 'EMP': float})

These DataFrames, df1 and df1_state, will serve as our main DataFrames, which we will then filter down to be able to build our visualizations



FILTERING DOWN TO BE ABLE TO CREATE DATA VISUALIZATIONS

Our first set of visualizations aims at looking into how much payroll is dedicated to different racial groups by state and by business category. However, since our data only makes up a survey of businesses in the United States, the raw payroll values in our dataset will probably be misleading. So, not only do we need to filter our data down to get exactly what we want, we also need to mutate our data to get the proper values to analyse.

We also need to be wary of missing data within the dataset. The variables 'PAYROLL_F' and 'EMP_F', which stand for payroll_flag and employee_flaag, respectively, are indicator variables to tell us not only whether or not there is missing data, but why. We want the rows with no flag, which indicates there being nothing wrong with our data. 

We now need to make sure that the only break out category included within our data is whichever racial group we want to highlight. So, we need to make sure every other category, ethnic group, sex, veteran status, firm size, number of years in business, and business type, needs to be set to include all categories.

In [ ]:
df_filtered = df1_state[df1_state['PAYANN_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMP_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMPSZFI'] == '001']
df_filtered = df_filtered[df_filtered['NAICS2017_LABEL'] == 'Total for all sectors']
df_filtered = df_filtered[df_filtered['YIBSZFI_LABEL'] == 'All firms']
df_filtered = df_filtered[df_filtered['SEX'] == '001']
df_filtered = df_filtered[filtered['VET_GROUP'] == '001']
df_filtered = df_filtered[filtered['ETH_GROUP'] == '001']
df_black = df_filtered[df_filtered['RACE_GROUP_LABEL'] == 'Black or African American']

For the sake of the visualization we want to make, we need to repeat this process, but instead of breaking into race, we want to include all businesses.

In [ ]:
df_total  = df_filtered[df_filtered['RACE_GROUP_LABEL'] == 'Total']

Now, we can select the specific columns we need to build our visualizations from each dataset. The columns we need are 'NAME', 'PAYANN', and 'EMP'.

In [ ]:
df_b = df_black[['NAME', 'PAYANN', 'EMP']]

df_t = df_total[['NAME', 'PAYANN', 'EMP']]

From here, we want to create our new variable: pay per employee. We will do this by dividing the payroll column by the employee column, converting it into a list, and then adding it back into the DataFrame.

In [ ]:
payroll_employee = df_b['PAYANN']/df_b['EMP']

payroll_emp = payroll_employee.tolist()

df_b.insert(3, "Pay per Employee", payroll_employee)

payroll_employee = df_t['PAYANN']/df_t['EMP']

payroll_emp = payroll_employee.tolist()

df_b1.insert(3, "Pay per Employee", payroll_employee)

Finally, we can merge these two datasets together using an inner join on the 'NAME' column.

In [ ]:
df_b_merged = pd.merge(df_b, df_t, how = 'inner', on = 'NAME', suffixes = ('_black', '_total'))

Using this DataFrame, we can build our visualization comparing payroll per employee for black owned businesses with the payroll per employee of businesses overall by state.

Now, we want to do essentially the exact same process, but instead of examining states, we will examine business type. For this, we use the regular 'df1' instead of 'df1_state'.

In [ ]:
df_filtered = df1[df1['PAYANN_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMP_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMPSZFI'] == '001']
df_filtered = df_filtered[df_filtered['NAICS2017_LABEL'] != 'Total for all sectors']
df_filtered = df_filtered[df_filtered['YIBSZFI_LABEL'] == 'All firms']
df_filtered = df_filtered[df_filtered['SEX'] == '001']
df_filtered = df_filtered[filtered['VET_GROUP'] == '001']
df_filtered = df_filtered[filtered['ETH_GROUP'] == '001']
df_black = df_filtered[df_filtered['RACE_GROUP_LABEL'] == 'Black or African American']

In [ ]:
df_total  = df_filtered[df_filtered['RACE_GROUP_LABEL'] == 'Total']

In [ ]:
df_b = df_black[['NAICS2017_LABEL', 'PAYANN', 'EMP']]

df_t = df_total[['NAICS2017_LABEL', 'PAYANN', 'EMP']]

payroll_employee = df_b['PAYANN']/df_b['EMP']

payroll_emp = payroll_employee.tolist()

df_b.insert(3, "Pay per Employee", payroll_employee)

payroll_employee = df_t['PAYANN']/df_t['EMP']

payroll_emp = payroll_employee.tolist()

df_t.insert(3, "Pay per Employee", payroll_employee)

df_b_merged = pd.merge(df_b, df_t, how = 'inner', on = 'NAICS2017_LABEL', suffixes = ('_black', '_total'))

For our second set of visualizations, we are going to do essentially the same thing, but instead we are going to look at veteran owned businesses. So, we will include all race categories, and compare veteran owned businesses with overall businesses and payroll per employee by state and industry.

In [ ]:
df_filtered = df1_state[df1_state['PAYANN_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMP_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMPSZFI'] == '001']
df_filtered = df_filtered[df_filtered['NAICS2017_LABEL'] == 'Total for all sectors']
df_filtered = df_filtered[df_filtered['YIBSZFI_LABEL'] == 'All firms']
df_filtered = df_filtered[df_filtered['RACE_GROUP_LABEL'] == 'Total']
df_filtered = df_filtered[df_filtered['SEX'] == '001']
df_filtered = df_filtered[filtered['ETH_GROUP'] == '001']
df_veteran = df_filtered[filtered['VET_GROUP'] == '002']

In [ ]:
df_total  = df_filtered[df_filtered['VET_GROUP'] == '001']

In [ ]:
df_v = df_veteran[['NAME', 'PAYANN', 'EMP']]

df_t = df_total[['NAME', 'PAYANN', 'EMP']]

In [ ]:
df_v = df_v[['NAME', 'PAYANN', 'EMP']]

df_t = df_total[['NAME', 'PAYANN', 'EMP']]

payroll_employee = df_v['PAYANN']/df_v['EMP']

payroll_emp = payroll_employee.tolist()

df_b.insert(3, "Pay per Employee", payroll_employee)

payroll_employee = df_t['PAYANN']/df_t['EMP']

payroll_emp = payroll_employee.tolist()

df_t.insert(3, "Pay per Employee", payroll_employee)

df_v_merged = pd.merge(df_v, df_t, how = 'inner', on = 'NAME', suffixes = ('_veteran', '_total'))

And again, we alter the process slightly for the business type as opposed to states.

In [ ]:
df_filtered = df1[df1['PAYANN_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMP_F'].isna()==True]
df_filtered = df_filtered[df_filtered['EMPSZFI'] == '001']
df_filtered = df_filtered[df_filtered['NAICS2017_LABEL'] != 'Total for all sectors']
df_filtered = df_filtered[df_filtered['YIBSZFI_LABEL'] == 'All firms']
df_filtered = df_filtered[df_filtered['RACE_GROUP_LABEL'] == 'Total']
df_filtered = df_filtered[df_filtered['SEX'] == '001']
df_filtered = df_filtered[filtered['ETH_GROUP'] == '001']
df_veteran = df_filtered[filtered['VET_GROUP'] == '002']

In [ ]:
df_total  = df_filtered[df_filtered['VET_GROUP'] == '001']

In [ ]:
df_v = df_veteran[['NAICS2017_LABEL', 'PAYANN', 'EMP']]

df_t = df_total[['NAICS2017_LABEL', 'PAYANN', 'EMP']]

In [ ]:
df_v = df_v[['NAICS2017_LABEL', 'PAYANN', 'EMP']]

df_t = df_total[['NAICS2017_LABEL', 'PAYANN', 'EMP']]

payroll_employee = df_v['PAYANN']/df_v['EMP']

payroll_emp = payroll_employee.tolist()

df_b.insert(3, "Pay per Employee", payroll_employee)

payroll_employee = df_t['PAYANN']/df_t['EMP']

payroll_emp = payroll_employee.tolist()

df_t.insert(3, "Pay per Employee", payroll_employee)

df_v_merged = pd.merge(df_v, df_t, how = 'inner', on = 'NAICS2017_LABEL', suffixes = ('_veteran', '_total'))